:root {
    --primary: #007BFF;
    --background-light: #f5f7f8;
    --background-dark: #101922;
    --white: #ffffff;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --green-500: #10b981;
    --red-500: #ef4444;
    --cyan-500: #06b6d4;
    --sky-500: #0ea5e9;
    --indigo-500: #6366f1;
    
    --border-radius: 0.25rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 0.75rem;
    --border-radius-full: 9999px;
    
    --font-family: 'Inter', sans-serif;
}