<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>

<h2>Registrar usuario</h2>

<form method="POST">

    <label>Nombres:</label>
    <input type="text" name="nombres" required>
    <br><br>

    <label>Apellidos:</label>
    <input type="text" name="apellidos" required>
    <br><br>

    <label>DNI:</label>
    <input type="text" name="dni">
    <br><br>

    <label>RUC:</label>
    <input type="text" name="ruc">
    <br><br>

    <label>Nombre del Negocio:</label>
    <input type="text" name="negocio_nombre">
    <br><br>

    <label>Teléfono:</label>
    <input type="text" name="telefono">
    <br><br>

    <label>Correo:</label>
    <input type="email" name="correo" required>
    <br><br>

    <label>Contraseña:</label>
    <input type="password" name="password" required>
    <br><br>

    <button type="submit">Registrar</button>
</form>

</body>
</html>
